/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************************
        Main Css Starts
**************************************/
/************ Global Settings ************/

/* ensures images scale properly */
img{
	max-width: 100%;
	display: block;
}

html{
	box-sizing:border-box;
}

body{
	font-family: 'Karla', sans-serif;
	line-height: 1.6;
	color: #000;
	background: #f3f0e9;
}

/***************** typography  for mobile ***********/

h1, h2, h3, h4, .main-nav a{
	font-family: 'Lato', sans-serif;
}

h1{
	font-size: 2.027rem;
	font-weight:900;
}

h2{
	font-size: 1.802rem;
}

h3{
	font-size: 1.424rem; 
	margin-bottom: 20px;
}
p{
	font-size: 1rem;
}

/*************** wrapper and container ***********/

.wrapper,
.location-menu, 
.about-us,
.testimonials{
	max-width: 1200px;
	margin: auto; 
	padding: 60px 20px; 
}

/*************** main nav **************/

header{
	background: #000;
}

.main-nav{
	display:flex; 
	flex-direction: column; 
	align-items: center; 
	padding: 20px;
}

.main-nav img{
	width: 170px; 
	margin-bottom: 10px; 
}

.main-nav ul{
	display: flex; 
	gap: 20px; 
	list-style: none; 
}

.main-nav a{
	color: #fff; 
	text-decoration: none;
	font-weight: 700;
	position: relative;
	transition: color .3s ease;
}

.main-nav a::after{
	content: "";
	position: absolute;
	left: 0; 
	bottom: -6px;
	width: 0; 
	height: 2px;
	background:#d69e3d;
	transition: width .3s ease;
}

.main-nav a:hover{
	color: #d69e3d;
}

.main-nav a:hover::after{
	width: 100%;
}

/*************** Banner **********************/

.banner{
	background: url(../images/hero-background.jpg) center/cover no-repeat;
	text-align:center;
	color:#fff;
	padding: 120px 20px;
	animation:fadeIn 1.5s ease;
}

.banner p{
	max-width: 500px;
	margin: 20px auto;
}